<div data-hook="admin_inside_taxonomy_form">
  <%= f.field_container :name do %>
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
    <%= error_message_on :taxonomy, :name, :class => 'fullwidth title'  %>
    <%= text_field :taxonomy, :name  %>
  <% end %>
</div>

<p>
	<% if try_spree_current_user.email == 'admin@muchtel.com' %>   
  		<%= f.label :name, Spree.t(:store) %> <span class="required">*</span><br />
  		<%= collection_select :taxonomy, :store_id, Spree::Store.all, :id, :name  %>
	<%else%>
  		<%= f.hidden_field :store_id  , :value => current_store.id%>
	<%end%>
</p>
