   <%= f.label :stores, Spree.t(:store)%><br />
  <% Spree::Taxonomy.default_stores(current_store.id).each do |taxonomy| %>
    <%= check_box_tag "qq[taxonomy_ids][]", taxonomy.id , @product.stores.include?(taxonomy.store) ,:style => 'visibility: hidden' %> 
  <% end %>

<div class="twelve columns alpha omega" data-hook="admin_product_taxons">
  
  
    <%= f.field_container :taxons do %>
      <%= f.label :taxon_ids, Spree.t(:taxons) %><br />
      <%= f.hidden_field :taxon_ids, :value => @product.taxon_ids.join(',') %>
    <% end %>

    <%= f.field_container :option_types do %>
      <%= f.label :option_type_ids, Spree.t(:option_types) %>
      <%= f.hidden_field :option_type_ids, :value => @product.option_type_ids.join(',') %>
    <% end %>
  </div>