<p>
  <%= f.label :stores, Spree.t(:stores)%><br />
  <% Spree::Store.all.each do |store| %>
    <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store) %> <%= store.name %>
  <% end %>
</p>
<div id="all_stores">
<p>
  <%= f.label :stores, Spree.t(:stores)%><br />
  <% Spree::Store.all.each do |store| %>
  <% store_default = store.default%>
  <% store_default = "true" if current_store.id == store.id %> 
    <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store)  ,:default =>store_default  , :checked => :true%> <%= store.name %>
  <% end %>
</p>
</div>


<p>
  <%= f.label :stores, Spree.t(:default_stores)%><br />
    <%= check_box "default_store","1",:onclick =>"checkbox_check();", :checked => :true%> <%=Spree.t(:all_stores) %>
</p>

<script>

function checkbox_check(){
	 alert($("input[default='true']", "#all_stores").text());
	//alert($(#all_stors));
}

</script>
